<!--using Jquetrty and other javascript files  -->
<!-- google map events -->

<!DOCTYPE html>
<html>
<head>
  <title>PokemonApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=" + "<%= ENV["GOOGLE_MAP"] %>"></script>


</head>
<body>
  <a href="/">Home</a>
  <!-- current seesions user -->
  <span> | </span>
  <a href = "/trainers/1">Pokedex</a>
<%=yield%>

</body>
</html>
